*.DS_Store
*.log
*.tar.gz
containers/mysql/initdb.d/*
!containers/mysql/initdb.d/.gitkeep

wp-content/plugins/hello.php

wp-content/uploads/**

wp-content/themes/*
!wp-content/themes/anther
!wp-content/themes/anther-child
